/*
#adtransp-close-container {
	margin:0 auto;
	height:0;

}
*/

#adtransp-close-button {
	width:50px;
	height:50px;
	position:absolute;
	right: 0;
	bottom: 0;
	cursor:pointer;
}

#adtransp-value-button {
	width:50px;
	height:50px;
	position:absolute;
	left: 0;
	bottom: 0;
	cursor:pointer;
}

#adtransp-value-button .value {
    position: absolute;
    bottom: 15px;
    left: 0px;
    font-size: 11px;
    font-weight: 600;
}

/*
#adtransp-close-button i {
	color:#1cabc8;
	text-align: center;
	line-height:30px;
	font-size:20px;
}
#adtransp-close-button .label {
	display:none;
	position: absolute;
	right: 30px;
	text-align:right;
	font-size:20px;
	line-height:30px;
	background-color:#ccc;
	white-space: nowrap;
}
#adtransp-close-button:hover .label {
	display:block;
	padding: 0 0 0 10px;
}
*/
